@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-heading {
    @apply uppercase text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-[100px];
  }
}
